<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car brand Detail</title>
</head>
<body>
    <p><a href="{% url 'everything:index' %}">Home</a></p>
    <p>Om een automerk toe te voegen <a href="{% url 'everything:carbrandcreate' %}">Klik hier</a></p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if carbrand %}
        <h1>{{ carbrand.brand_name }}</h1>
        <h3>Car models</h3>
        <ul>
        {% for car in carbrand.car_set.all %}
            <li>{{ car.model }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No car brands found!!!</p>
    {% endif %}
</body>
</html>