<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Detail</title>
</head>
<body>
    <p><a href="{% url 'everything:index' %}">Home</a></p>
    <p>Om een auto toe te voegen <a href="{% url 'everything:carcreate' %}">Klik hier</a></p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if car %}
        <h3>{{ car.model }}</h3>
        <p>Brand: {{ car.brand }}</p>
        <p>Price: {{ car.price }}</p>
        <p><a href="{% url 'everything:carupdate' car.id%}">Edit</a></p>
        <p><a href="{% url 'everything:cardelete' car.id%}">Delete</a></p>
    {% else %}
        <p>No cars found!!!</p>
    {% endif %}
</body>
</html>